@import "mixin.scss";

/* HelveticaNeue - Regular */
@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local(''),
		 url('../assets/fonts/HelveticaNeue-Regular-woff2.woff2') format('woff2')
}
  
/* HelveticaNeue - Medium */
@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local(''),
		url('../assets/fonts/HelveticaNeue-Medium-woff2.woff2') format('woff2')
}

/* HelveticaNeue - Bold */
@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local(''),
		url('../assets/fonts/HelveticaNeue-Bold-woff2.woff2') format('woff2')
}
  
body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	font-family: 'HelveticaNeue';
}
.interactive-map {
	position: relative;
	height: 800px;
	width: 100%;
	margin: auto;
	overflow-x: hidden;
  
	#interactiveMap {
		height: 800px;
		width: 100%;
		margin: auto;
	}
	.country-label,
	.state-label {
		font-size: 0.75rem;
		width: auto !important;
		word-wrap: normal;
		word-break: keep-all;
		font-weight: bold;
		-webkit-text-stroke: .2px white;
		color: black;
		text-transform: uppercase;
		white-space: nowrap;
		pointer-events: none;
		z-index: 5;
	}
	.country-circle {
		border-radius: 50%;
		margin: 0;
		background-color: #0f3556;
		color: white;
		border: 2px solid white;
		padding: .3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: .8rem;
		width: 22.5px;
		height: 22.5px;
		border-radius: 50%;
		pointer-events: all;
		cursor: pointer;
		z-index: 6;
		display: flex !important;
		align-items: center;
		justify-content: center;
		transition: transform .5s;
		transform: scale(1);
	}
	.country-circle.country-circle-highlight {
		background-color: #dd6b0a;
		transform: scale(1.15);
	}
	.country-circle-tooltip-wrapper {
		position: relative;
		border-radius: 5px;
		background-color: white;
		padding: 1rem;
		overflow: hidden;
		margin: 0;
		visibility: visible;
		>span {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 4px;
			height: 75%;
			background-color: #dd6b0a;
			margin-right: 0;
			top: auto;
			margin: 0;
			border: 0;
		}
		h2 {
			border-bottom: 1px solid rgba(0, 0, 0, .25);
			width: 100%;
			padding-bottom: .5rem;
			margin-bottom: .5rem;
			margin-top: 0;
		}
	}
	.country-circle-tooltip-popup {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		>div {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&:not(:last-child) {
				margin-right: 1rem;
			}
			span {
				&:nth-child(1) {
					font-size: 8px;
					opacity: .8;
				}
				&:nth-child(2) {
					font-size: 14px;
					font-weight: bold;
				}
			}
		}
	}
	.interactive-map-chart {
    @include animate(fade-in, 1s, ease-in-out, forwards);
		position: absolute;
		top: 2rem;
		left: 85.333px;
		z-index: 500;
		animation-delay: 1s;
		opacity: 0;
	}
	.interactive-map-chart-wrapper {
		position: relative;
		h2 {
			font-size: 22px;
			line-height: 34px;
			padding: 1rem;
			margin: 0;
			border-bottom: 1px solid black;
		}
		.interactiveMapChartHeading {
			position: absolute;
			top: 0;
			z-index: 4;
			left: 1rem;
			font-size: 18px;
			font-weight: bold;
		}
	}
	.interactive-map-chart-cont {
		position: relative;
		height: 100%;
		width: 400px;
		background-color: white;
		border: 1px solid rgba(0, 0, 0, .25);
		box-shadow: 2px 1px 18px rgb(0 0 0 / 25%);
		border-radius: 5px;
		overflow: auto;
		z-index: 2;
	}
	.interactive-map-search {
		background-color: white;
		margin-bottom: 1rem;
		padding: 1rem;
		border: 1px solid rgba(0, 0, 0, .25);
		box-shadow: 2px 1px 18px rgb(0 0 0 / 25%);
		border-radius: 5px;
	}
	.interactive-map-chart-piechart {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		background: #F8F8F8;
		padding-bottom: 2rem;
	}
	.interactiveMapChartTitleLabel {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size: 20px;
		top: 110px;
		left: 75px;
	}
	.interactiveMapChartTitle {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 56px;
		top: 136px;
		font-size: 14px;
	}
	#interactiveMapChart {
		min-height: 230px;
	}
	.interactive-map-search-input {
		position: relative;
		padding: 1rem 2rem;
		border: 2px solid #dddddd;
		width: calc(100% - 68px);
		border-radius: 50px;
		font-size: 16px;
		background: url("../assets/search.svg") no-repeat scroll 95% 45% #f4f5f7;
	}
	.interactive-map-properties-menu {
		width: 45%;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 500;
		transition: all .75s;
		transform: translateX(100%);
		pointer-events: none;
		background-color: #F4F5F7;
	}
	.interactive-map-properties-menu-open {
		transform: translateX(0);
		pointer-events: all;
	}
	.interactive-map-properties-menu-button {
		position: absolute;
		left: -50px;
		top: 2rem;
		width: 50px;
		height: 50px;
		background-color: #dd6b0a;
		z-index: 1;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		pointer-events: all;
		cursor: pointer;
		&::before {
			position: absolute;
			content: "";
			top: 17px;
			left: 20px;
			width: 15px;
			height: 15px;
			border-top: 2px solid #fff;
			border-left: 2px solid #fff;
			transform: rotate(-45deg);
			z-index: 2;
		}
	}
	.interactive-map-properties-menu-content {
		padding: 2rem 4rem 2rem 4rem;
		width: 75%;
		height: calc(100% - 4rem);
		text-align: right;
		.interactive-map-properties-view-all {
			position: relative;
			color: black;
			text-decoration: none;
			display: inline-flex;
			justify-content: flex-end;
			margin-bottom: .5rem;
			border-bottom: 1px solid black;
			padding-bottom: .25rem;
			transition: all .25s ease-in-out;
			&:hover {
				color: #dd6b0a;
				border-color: #dd6b0a;
			}
		}
	}
	.interactive-map-properties-wrapper {
		display: flex;
		width: 100%;
		height: 95%;
		flex-direction: column;
	}
	.interactive-map-properties-content-wrapper {
		display: grid;
		grid-gap: .5rem;
		grid-template-columns: repeat(auto-fill, calc(50% - 0.25rem));
		grid-template-rows: calc(100% / 3) calc(100% / 3) calc(100% / 3);
		height: 85%;
		padding-bottom: 1rem;
		transition: all 1s;
		a {
			margin: 0;
			width: 100%;
			height: 100%;
			&::before {
				display: none;
			}
		}
	}
	.interactive-map-properties-item {
		position: relative;
		width: 100%;
		height: 100%;
		a {
			position: relative;
			display: block;
			z-index: 3;
			&::after {
				content: "";
				position: absolute;
				background: linear-gradient(0deg,#000,rgba(0,0,0,.738) 19%,rgba(0,0,0,.541) 34%,rgba(0,0,0,.382) 47%,rgba(0,0,0,.278) 56.5%,rgba(0,0,0,.194) 65%,rgba(0,0,0,.126) 73%,rgba(0,0,0,.075) 80.2%,rgba(0,0,0,.042) 86.1%,rgba(0,0,0,.021) 91%,rgba(0,0,0,.008) 95.2%,rgba(0,0,0,.002) 98.2%,transparent);
				bottom: 0;
				left: 0;
				opacity: .6;
				width: 100%;
				height: 100%;
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		span {
			position: absolute;
			left: 0.5rem;
			bottom: 0.5rem;
			color: white;
			z-index: 2;
		}
	}
	.interactive-map-properties-pagination {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-top: .5rem;
		width: 100%;
		align-items: center;
		.pagination-left {
			position: absolute;
			width: 15px;
			height: 15px;
			left: -20px;
			a {
				display: flex;
				width: 100%;
				height: 100%;
				color: black;
				text-decoration: none;
				transform: rotate(-45deg);
				&::before {
					position: absolute;
					content: "";
					top: 0;
					left: 0;
					width: 8px;
					height: 8px;
					border-top: 2px solid #000;
					border-left: 2px solid #000;
					z-index: 2;
					background-color: transparent;
					border-radius: 2px;
				}
			}
		}
		.pagination-right {
			position: absolute;
			width: 15px;
			height: 15px;
			right: -20px;
			a {
				display: flex;
				width: 100%;
				height: 100%;
				color: black;
				text-decoration: none;
				transform: rotate(135deg);
				&::before {
					position: absolute;
					content: "";
					top: 0;
					left: 0;
					width: 8px;
					height: 8px;
					border-top: 2px solid #000;
					border-left: 2px solid #000;
					z-index: 2;
					background-color: transparent;
					border-radius: 2px;
				}
			}
		}
		.disable {
			a {
				pointer-events: none;
				cursor: default;
				&::before {
					opacity: .25;
				}
			}
		}
	}
	.interactive-map-properties-pagination-desktop {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: row;
	}
	.interactive-map-properties-pagination-container {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		li {
			padding: .25rem .5rem;
			border-radius: 5px;
			&:not(:last-child) {
				margin-right: .25rem;
			}
		}
		li.active {
			background-color: #dd6b0a;
			a {
				color: white;
				font-weight: bold;
			}
		}
		.interactive-map-properties-pagination-link {
			margin: 0;
			color: black;
			text-decoration: none;
		}
	}
	.interactiveMapChartDetails {
		ul {
			list-style-type: none;
			margin-top: 2rem;
			margin-bottom: 0;
			padding-left: 0;
			>li {
				position: relative;
			}
			li {
				span {
					&:nth-child(1) {
						position: absolute;
						left: -0.75rem;
						top: -5px;
						font-size: 18px;
					}
					&:nth-child(2) {
						font-weight: bold;
						margin-right: 0.25rem;
					}
					&:nth-child(3) {
						margin-left: 0.25rem;
					}
				}
			}
			li.disable {
				opacity: .25;
			}
		}
	}
	.interactive-map-chart-filter {
		border-top: 1px solid black;
		padding: 2rem 1rem;
		background-color: white;
	}
	.interactive-map-chart-filter-header-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.interactive-map-chart-filter-header {
		font-size: 22px;
		line-height: 34px;
		font-weight: bold;
	}
	.interactive-map-chart-filter-header-plus {
		--thickness: 4px;
		width: 18px;
		aspect-ratio: 1;
		border: 0;
		background: conic-gradient(from 90deg at var(--thickness) var(--thickness),#fff 90deg,#dd6b0a 0) calc(100% + var(--thickness)/2) calc(100% + var(--thickness)/2)/ calc(50% + var(--thickness)) calc(50% + var(--thickness));
		display: inline-block;
		cursor: pointer;
	}
	.interactive-map-chart-filter-inner {
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
	.interactive-map-chart-filter-list {
		border-top: 1px solid rgba(0, 0, 0, .25);
		margin-top: .5rem;
	}
	.interactive-map-chart-filter-close {
		cursor: pointer;
		width: 30px;
		height: 30px;
		img {
			width: 30px;
			height: 30px;
			object-fit: cover;
		}
	}
	.interactive-map-chart-filter-overlay {
		position: absolute;
		right: calc(-1 * (350px + 3rem));
		width: 350px;
		height: calc(100% - 3rem);
		top: 0;
		background-color: white;
		padding: 1rem 1rem 2rem 1rem;
		border: 1px solid rgba(0, 0, 0, .25);
		box-shadow: 2px 1px 18px rgb(0 0 0 / 25%);
		border-radius: 5px;
		z-index: 1;
		transition: opacity .45s, transform .35s ease-in-out;
		opacity: 1;
		transform: translateX(0);
		pointer-events: all;

		&.hide {
			opacity: 0;
			transform: translateX(-110%);
			pointer-events: none;
			transition: opacity .45s, transform .35s ease-in-out;
		}
		.interactive-map-search {
			box-shadow: none;
			padding: 0;
			border: 0;
			margin-top: 1rem;
		}
		.interactive-map-chart-filter-header-wrapper {
			padding-bottom: 1rem;
			border-bottom: 1px solid black;
		}
	}
	.interactive-map-filter {
		width: 100%;
		height: calc(100% - 8rem);
		overflow: auto;
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-track {
			background: #f1f1f1;
		}
		&::-webkit-scrollbar-thumb {
			background: #888;
			border-radius: 5px;
			&:hover {
				background: #555;
			}
		}
	}
	.interactive-map-filter-checkbox {
		font-weight: 500;
		display: flex;
		flex-direction: row;
		align-items: center;
		
		label {
			position: relative;
			cursor: pointer;
			padding-left: .5rem;

			&::before {
				content: "";
				position: absolute;
				left: -20px;
				top: 50%;
				transform: translateY(-50%);
				width: 10px;
				height: 10px;
				border-radius: 2px;
				border: 2px solid black;
				transition: .15s background-color ease-in-out;

			}

			&::after {
				content: "";
				position: absolute;
				left: -19px;
				top: 50%;
				width: 2px;
				height: 2px;
				background: white;
				box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
				transform: rotate(45deg) translateY(-50%) scale(0);
				opacity: 0;
				transition: .15s transform ease-in-out, .25s opacity ease-in-out;
			}
		}
		input {
			opacity: 0;
			pointer-events: none;
			
			&:checked {
				+ label {
					&::before {
						border-color: #dd6b0a;
						background-color: #dd6b0a;
					}

					&::after {
						transform: rotate(45deg) translateY(-50%) scale(1);
						opacity: 1;
					}
				}
			}
		}
		&:first-child {
			color: #dd6b0a;
			padding-bottom: .5rem;
			font-size: 0.8rem;

			label {
				&::before {
					border-color: #dd6b0a;
				}
			}
		}
		&:not(:first-child) {
			&:not(:last-child) {
				border-bottom: 1px solid #dddddd;
				padding-bottom: 1rem;
				margin-bottom: 1rem;
				font-size: 1.1rem;
			}
		}
	}
	.gm-style-iw-c {
		padding: 0 !important;
		outline: 0 !important;
	}
	.gm-style-iw-d {
		overflow: initial !important;
	}
	.gm-style-iw {
		button {
			display: none !important;
		}
	}
}

@media only screen and (min-width: 1366px) {
	.interactive-map, .interactive-map #interactiveMap{
		height: 1000px;
	}
}

@include keyframes(fade-in){
  0%{
  opacity: 0;
  }
 100%{
  opacity: 1;
 }
}

